<div class="container-fluid">
    <div class="card-deck">
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("collection.jpg", class: "card-img-top", alt: "collection") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("inspiration.jpg", class: "card-img-top", alt: "inspiration") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("nature.jpg", class: "card-img-top", alt: "nature") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("officestyle.jpg", class: "card-img-top", alt: "officestyle") %>
        </div>
    </div>
</div>
<!-- end of first container-fluid style pic -->

<div class="container-fluid animals-container">
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <img src="https://i.giphy.com/media/OI8TsOa9KFAPu/200w.gif" alt="dog" class="img-fluid dog">
        </div>
        <div class="col-xs-12 col-lg-6">
            <%= image_tag("nature.jpg", class: "img-fluid nature", alt: "nature") %>
        </div>
        <div class="col-xs-12 col-lg-3">
            <%= image_tag("https://i.giphy.com/W22dIojezzgje.gif", class: "img-fluid water", alt: "nature") %>
        </div>
    </div>
</div> <!--end for javacript image running -->

<div class="container-fluid">
    <div class="card-deck">
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("mountains.jpg", class: "card-img-top", alt: "mountains") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("lights.jpg", class: "card-img-top", alt: "lights") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("coffee.jpg", class: "card-img-top", alt: "coffee") %>
        </div>
        <div class="card col-3 col-md-3 col-sm-3">
            <%= image_tag("naturestyle.jpg", class: "card-img-top", alt: "naturestyle") %>
        </div>
    </div>
</div>
<!-- end of last container-fluid style pics --->
