<div class="container-fluid">
    <div class="row">
        <div class="class="col-sm-8 py-4>
            <div align="center" class="email-send-form">
                <h3 class="email-send-form-header-h3">send a message </h3>

                <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
                <%= f.input :name, :required => true, class: "email-text-field" %>
                <%= f.input :email, :required => true %>
                <%= f.input :message, :as => :text, :required => true %>
                <div>
                </br>
                <%= f.button :submit, 'Send message', :class=> "btn btn-primary btn-email-send-cust" %>
                </div>
            <% end %>
        </div> <!-- end of  -->
    </div> <!-- end of col-sm-8 py-4 -->
    <div class="col-sm-4 py-4">
    </div> <!-- end of col-sm-4 py-4 -->

    </div> <!-- end of row -->
</div> <!-- end of container-fluid -->
