<div class="container-fluid blog-container">
    <h3 class="blog-header">Welcome to my blog <i class="em em-laughing"></i></h3>
    <p class="container-p-text">I like these technologies below and lool very cool to me when you added on web applications. However I try to done some css to fix these images look nice lol... <i class="em em-satisfied"></i><i class="em em-stuck_out_tongue_closed_eyes"></i> but nothing come up as I want to expect it.<i class="em em-neutral_face"></i> <i class="em em---1"></i></p></br>

    <div class="container-fluid">
        <div class="card-deck row-img-position">
            <div class="card col-3 col-md-3 col-sm-3">
                <%= image_tag("work4.jpg", class: "card-img-top", alt: "mobile apps") %>

            </div>
            <div class="card col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <%= image_tag("work6.jpg", class: "card-img-top", alt: "Responsive design") %>

            </div>
            <div class="card col0-lg-3 col-md-6 col-sm-6 col-xs-12">
                <%= image_tag("work2.jpg", class: "card-img-top", alt: "Mult-device on same app") %>

            </div>
            <div class="card col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <%= image_tag("work3.png", class: "card-img-top", alt: "web mockup tools") %>

            </div>
        </div>
    </div>
    <!-- end of first container-fluid web cool style pic -->

    <p class="container-p-text">Get ready to see the nature...<i class="em em-kissing_heart"></i></p></br>

    <div class="container-fluid">
        <div class="card-deck row-img-position">
            <div class="card col-3 col-md-3 col-sm-3">
                <%= image_tag("collection.jpg", class: "card-img-top", alt: "collection") %>
            </div>
            <div class="card col-3 col-md-3 col-sm-3">
                <%= image_tag("inspiration.jpg", class: "card-img-top", alt: "inspiration") %>
            </div>
            <div class="card col-3 col-md-3 col-sm-3">
                <%= image_tag("nature.jpg", class: "card-img-top", alt: "nature") %>
            </div>
            <div class="card col-3 col-md-3 col-sm-3">
                <%= image_tag("mountains.jpg", class: "card-img-top", alt: "mountains.jpg") %>
            </div>
        </div>
    </div>
    <!-- end of first container-fluid pass memories pic -->
    <p class="container-p-text">Late on, I like to add more featuries on my blog like users can upload photos or comments, like or dont like about photos and rating on these photos. <i class="em em-smile"></i> </p>



</div> <!-- end of container-fluid blog-container -->
